@model int
<br />
<br />
<form asp-area="Admin" asp-controller="Service" asp-action="AddServiceFile" method="post" enctype="multipart/form-data">
    <div class="form-group row p-3">
        <input value=@Model name="id" style="display:none" />
        <label for="formFileLg" class="form-label">افزودن تصویر جدید</label>
        <div class="col-8">
            <input name="files" class="form-control" type="file" id="formFileLg" multiple />
        </div>
    </div>
    <div>
        <input type="submit" value="افزودن" class="btn btn-success" />
    </div>
</form>