
@{
    Layout = "_ErrorLayout";
}
<div class="row">
    <div class="col-lg-12 m-auto text-center">
        <div class="card">
            <div class="card-body">
                <h1 style="font-family:IranSans" class="display-1 text-bolder text-dark">خطایی رخ داده است</h1>
                <p style="font-family:IranSans" class="lead text-dark">از طریق کلید زیر به صفحه اول سایت بروید</p>
            </div>
        </div>
        <a asp-area="" asp-controller="Home" uiactions="Index" class="btn bg-gradient-success mt-4 btn-round">بازگشت به خانه</a>
    </div>
</div>