@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <br />
    <br />
    <br />
    <br />
</div>
<div class="card">
        <div class="card-body">
            <div class="d-grid gap-2 mt-3">
                <a class="btn btn-primary" type="button" asp-area="Customer" asp-action="Login" asp-controller="Account">ورود و یا ثبت نام به عنوان مشتری</a>
                <a class="btn btn-primary" type="button" asp-area="Expert" asp-action="Login" asp-controller="Account">ورود و یا ثبت نام به عنوان متخصص</a>
            </div>
        </div>
 </div>
