@using App.EndPoints.UI.Areas.Customer.Models.ViewModels
@model CustomerRegisterViewModel


@{
    ViewData["Title"] = "ثبت نام";
}




<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="~/assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">NiceAdmin</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">یک حساب کاربری ایجاد کنید</h5>
                                    <p class="text-center small">برای ایجاد حساب کاربری، مشخصات فردی خود را وارد کنید</p>
                                </div>

                                <form class="row g-3 needs-validation" method="post" asp-controller="Account" asp-action="Register">
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="col-12">
                                        <label asp-for="FirstName" class="form-label">نام</label>
                                        <input type="text" class="form-control" asp-for="FirstName">
                                        <div class="invalid-feedback">لطفا نام خود را وارد کنید!</div>
                                    </div>

                                    <div class="col-12">
                                        <label asp-for="LastName" class="form-label">نام خانوادگی</label>
                                        <input type="text" class="form-control" asp-for="LastName">
                                        <div class="invalid-feedback">لطفا نام خانوادگی خود را وارد کنید!</div>
                                    </div>

                                    <div class="col-12">
                                        <label asp-for="HomeAddress" class="form-label">آدرس</label>
                                        <input type="text" class="form-control" asp-for="HomeAddress">
                                        <div class="invalid-feedback">لطفا آدرس خود وارد کنید!</div>
                                    </div>


                                    <div class="col-12">
                                        <label asp-for="Email" class="form-label">ایمیل</label>
                                        <input type="email" class="form-control" asp-for="Email">
                                        <div class="invalid-feedback">لطفا یک آدرس ایمیل معتبر وارد کنید!</div>
                                    </div>

                                    <div class="col-12">
                                        <label asp-for="Password" class="form-label">گذر واژه</label>
                                        <input type="password" class="form-control" asp-for="Password">
                                        <div class="invalid-feedback">لطفا گذر واژه خود را وارد کنید!</div>
                                    </div>
                                    <div class="col-12">
                                        <label asp-for="ConfirmPassword" class="form-label"> تکرار گذر واژه</label>
                                        <input type="password" class="form-control" asp-for="ConfirmPassword">
                                        <div class="invalid-feedback">لطفا گذر واژه خود را مجددا وارد کنید!</div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">ایجاد حساب کاربری</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">در حال حاضر یک حساب کاربری دارید؟ <a asp-action="Login" asp-controller="Account" asp-area="Customer">ورود</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->