@using App.EndPoints.UI.Areas.Expert.Models.ViewModels
@model ExpertLoginViewModel

@{
    ViewData["Title"] = "ورود";
}




<div>
    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <img src="~/assets/img/logo.png" alt="">
                                    <span class="d-none d-lg-block">Maktab final project</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">وارد حساب کاربری خود شوید</h5>
                                        <p class="text-center small">جهت ورود، نام کاربری و گذر واژه خود را وارد کنید</p>
                                    </div>

                                    <form class="row g-3 needs-validation" asp-controller="Account" asp-action="Login" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="col-12">
                                            <label class="form-label" asp-for="Email"> نام کاربری(ایمیل)</label>
                                            <div class="input-group has-validation">
                                                <span class="input-group-text" id="inputGroupPrepend" asp-validation-for="Email"></span>
                                                <input type="text" class="form-control" asp-for="Email">
                                                <div class="invalid-feedback">لطفا، نام کاربری خود را وارد کنید.</div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Password" class="form-label">گذر واژه</label>
                                            <input type="password" class="form-control" asp-for="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                            <div class="invalid-feedback">لطفا، گذر واژه خود را وارد کنید!</div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" asp-for="RememberMe" value="true">
                                                <label class="form-check-label" asp-for="RememberMe">مرا به خاطر بسپار</label>
                                                <span asp-validation-for="RememberMe" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">ورود</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">حساب کاربری ندارید؟ <a asp-action="Register" asp-controller="Account" asp-area="Expert">یک حساب کاربری ایجاد کنید</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->


    </div>


